<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<body>

<h1>Rolls</h1>


<table>
  <tr>
    <th>ID Number</th>
    <th>Brand</th>
    <th>Colour</th>
    <th>Width</th>
    <th>Length</th>
    <th>Cost Value (£)</th>
    <th>Retail Value (£)</th>
    <th>Margin (£)</th>
  </tr>
  <% for roll in @rolls %>
  <% cost_value = roll.meterage * roll.carpet.buying_cost %>
  <% retail_value = roll.meterage * roll.carpet.selling_price %>
  <% margin = retail_value - cost_value %>
  <tr>
    <td><%= roll.id %></td>
    <td><%= roll.carpet.brand %></td>
    <td><%= roll.colour %></td>
    <td><%= roll.roll_width %></td>
    <td><%= roll.roll_length %></td>
    <td><%= cost_value.round(2) %></td>
    <td><%= retail_value.round(2)%></td>
    <td><%= margin.round(2) %></td>
    <td><a href="/rolls/<%= roll.id %>/edit"> Edit</td>
      <td><form action="/rolls/<%= roll.id %>/destroy" method = "post">
      <button type="submit">Delete</button>
      </form></td>
  </tr>
  <% end %>
</table>


<center><p><a href="/rolls/new">Add Roll</a></p>

<p><a href="/">Home</a></p></center>
</body>
