<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<body>

<h1>Suppliers</h1>


<table>
  <tr>
    <th>ID Number</th>
    <th>Name</th>
    <th>Rep</th>
    <th>Rep Contact</th>
  </tr>
  <% for supplier in @suppliers %>
  <tr>
    <td><%= supplier.id %></td>
    <td><%= supplier.name %></td>
    <td><%= supplier.rep %></td>
    <td><%= supplier.rep_contact %></td>
    <td><a href="/suppliers/<%= supplier.id %>/edit"> Edit</td>
    <td><form action="/suppliers/<%= supplier.id %>/destroy" method = "post">
      <button type="submit">Delete</button>
      </form></td>
  </tr>
  <% end %>
</table>


<p><a href="/suppliers/new">Add Supplier</a></p>

<p><a href="/">Home</a></p>
</body>
