<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<h1><%= @suppliers.name %></h1>

<p>Rep Name: <%= @suppliers.rep %></p>
<p>Rep Contact: <%= @suppliers.rep_contact %></p>

<h3>Brands Supplied by <%= @suppliers.name %>:</h3>

<ul>
  <% for carpet in @carpets %>
    <% if carpet.supplier_id == @suppliers.id %>
    <li><%= carpet.brand %></li>
    <% end %>
  <% end %>
</ul>

<center>
<p><button type="button" name="button"><a href="/suppliers">Back to Suppliers</a></button></p>
<p><button type="button" name="button"><a href="/">Home</a></button></p>
</center>
