<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<center>
<h1><%= @suppliers.name %></h1>

<p>Rep Name: <%= @suppliers.rep %></p>
<p>Rep Contact: <%= @suppliers.rep_contact %></p>

<h2>Brands Supplied by <%= @suppliers.name %>:</h2>
</center>

<table>
  <tr>
    <th>Brand</th>
    <th>Buying Cost</th>
    <th>Selling Price</th>
    <th>Margin</th>
  </tr>
  <% for carpet in @carpets %>
    <tr>
    <% if carpet.supplier_id == @suppliers.id %>
    <td><%= carpet.brand %></td>
    <td><%= carpet.buying_cost %></td>
    <td><%= carpet.selling_price %></td>
    <td><%= carpet.margin %></td>
  </tr>
  <% end %>
<% end %>
</table>
<center>
  <p><a href="/carpets">Back to Carpets</a></p>
<p><a href="/suppliers">Back to Suppliers</a></p>
<p><a href="/">Home</a></p>
</center>
