<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<h1>Edit Carpet</h1>

<center>
<form action="/carpets/<%= @carpets.id %>" method="POST">

  <label for="brand">Brand: </label>
  <input id="brand" type="text" name="brand" placeholder="<%= @carpets.brand %>" required/>
  <p></p>
  <label for="supplier_id">Supplier: </label>
  <select id="supplier-select" name="supplier_id">
    <% for supplier in @suppliers%>
    <option value= <%=supplier.id%>> <%=supplier.name%></option>
    <% end %>
    </select>
    <p></p>
  <label for="buying_cost">Buying Cost: </label>
  <input id="buying_cost" type="text" name="buying_cost" placeholder="<%= @carpets.buying_cost %>" required/>
  <p></p>
  <label for="selling_price">Selling Price: </label>
  <input id="selling_price" type="text" name="selling_price" placeholder="<%= @carpets.selling_price %>" required/>
  <p></p>


 <input type="submit" value="Edit Carpet"/>
</form>

<p><a href="/carpets">Back to Carpets</a></p>
