<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

</style>
</head>
<body>

<h1>Carpets</h1>


<table>
  <tr>
    <th>ID Number</th>
    <th>Range</th>
    <th>Supplier</th>
    <th>Type</th>
    <th>Pile</th>
    <th>Colour</th>
    <th>Buying Cost</th>
    <th>Selling Price</th>
    <th>Stock</th>
  </tr>
  <% for carpet in @carpets %>
  <tr>
    <td><%= carpet.id %></td>
    <td><%= carpet.range %></td>
    <td><a href="/suppliers/<%= carpet.supplier.id %>"><%= carpet.supplier.name %></a></td>
    <td><%= carpet.type %></td>
    <td><%= carpet.pile %></td>
    <td><%= carpet.colour %></td>
    <td><%= carpet.buying_cost %></td>
    <td><%= carpet.selling_price %></td>
    <% for roll in @rolls %>
      <% if roll.carpet_id == carpet.id %>
  <td><a href="/carpets/<%= carpet.id %>">Check Stock</a></td>
    <% break %>
      <% else %>
  <td>Out of Stock</td>
  <% break %>
      <% end %>
    <% end %>
  </tr>
  <% end %>
</table>

</body>
</html>
