<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

</style>
</head>
<body>

<h1>Carpets</h1>


<table>
  <tr>
    <th>ID Number</th>
    <th>Brand</th>
    <th>Supplier</th>
    <th>Buying Cost</th>
    <th>Selling Price</th>
    <th>Stock</th>
  </tr>
  <% for carpet in @carpets %>
  <tr>
    <td><%= carpet.id %></td>
    <td><%= carpet.brand %></td>
    <td><a href="/suppliers/<%= carpet.supplier.id %>"><%= carpet.supplier.name %></a></td>
    <td><%= carpet.buying_cost %></td>
    <td><%= carpet.selling_price %></td>
    <td>
    <% for roll in @rolls %>
      <% if carpet.id == roll.carpet_id %>
  <a href="/carpets/<%= carpet.id %>">Check Stock</a>
  <% @found = true %>
  <% break %>
  <% else %>
  <%@found = false%>
      <% end %>
    <% end %>
    <% if !@found %>
    Out of Stock
    <% end %>
    </td>
    <td><a href="/carpets/<%= carpet.id %>/edit"> Edit</td>
    <td><a href="/carpets/<%= carpet.id %>/destroy"> Delete</td>
  </tr>
  <% end %>
</table>

<center><p><button type="button" name="button"><a href="/carpets/new">Add Carpet</a></button></p>


<p><button type="button" name="button"><a href="/">Home</a></button></p>
</center>

</body>
</html>
