<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">

<header>
  <h1>CarpetClan Warehouse Stock Management</h1>
</header>

<h1><%= @carpets.brand %></h1>


<% for supplier in @suppliers %>
  <% if @carpets.supplier_id == supplier.id %>


<h3>Supplied by: <a href="/suppliers/<%=supplier.id%>"><%=supplier.name%></a></h3>
<h3>Buying Cost: <%= @carpets.buying_cost%></h3>
<h3>Selling Price: <%= @carpets.selling_price%></h3>
<h3>Margin: <%= @carpets.margin %></h3>

  <% end %>
<% end %>

<table>
  <tr>
    <th>Colour</th>
    <th>Width (m)</th>
    <th>Length (m)</th>
  </tr>
<% for roll in @rolls %>
  <tr>
  <% if @carpets.id == roll.carpet_id %>
    <td><%= roll.colour %></td>
    <td><%= roll.roll_width %></td>
    <td class="<%= roll.low_stock() ? 'red' : '' %>"><%= roll.roll_length %></td>
  </tr>
  <% end %>
<% end %>
</table>


<center>
<p><a href="/carpets">Back to Carpets</a></p>
<p><a href="/">Home</a></p>
</center>
